ul,
li {
    display: inline-block; 
    width: 50px;
    border: 1px solid black;
    /* Возвращаем в нормальное состояние у потомков */
    font-size: 15px;
   }

ul {
    font-size: 0;
}

li {
    display: inline-block;
    font-size: 1rem;
}